
@{
    ViewBag.Title = "PrescriptionsView";
}

<h2>PrescriptionsView</h2>
@model System.Data.DataTable

<h2>Prescriptions</h2>

@if (Model.Rows.Count == 0)
{
    <p>No prescriptions found.</p>
}
else
{
    <table border="1" cellpadding="5">
        <thead>
            <tr>
                @foreach (System.Data.DataColumn col in Model.Columns)
                {
                    <th>@col.ColumnName</th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (System.Data.DataRow row in Model.Rows)
            {
                <tr>
                    @foreach (var item in row.ItemArray)
                    {
                        <td>@item</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

<br />

<a href="/Patient/Portal">⬅ Back to Portal</a>
